{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Start Header -->
<div class="fables-header fables-after-overlay">
    <div class="container"> 
         <h2 class="fables-page-title fables-second-border-color">Tadbirlar</h2>
    </div>
</div>  
<!-- /End Header -->
     
<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container"> 
        <nav aria-label="breadcrumb">
          <ol class="fables-breadcrumb breadcrumb px-0 py-3">
            <li class="breadcrumb-item active" aria-current="page">Tadbirlar</li>
          </ol>
        </nav> 
    </div>
</div>
<!-- /End Breadcrumbs -->
     
<!-- Start page content --> 
<div class="container">
     <div class="row mt-4 mt-lg-5">
         {% for tadbir in tadbirlar %}
          <div class="col-12 col-sm-6 col-md-4 mb-4 mb-lg-5"> 
              <div class="image-container zoomOut-effect">
                 <a href="{{ tadbir.get_absolute_url }}"><img src="{{ tadbir.image.url}}" alt="image alt text" class="w-100"></a>
              </div>
              <h2 class="font-18 semi-font mt-3 mb-2"><a href="{{tadbir.get_absolute_url}}" class="fables-main-text-color fables-second-hover-color">{{ tadbir.nomi}}</a></h2>
              <div class="fables-forth-text-color font-14 mb-2">                                  
                  <span class="fables-icondata fables-second-text-color mr-1"></span> 
                  <span class="mr-3">{{ tadbir.boshlanish_sanasi }}</span>
              </div>
              <p class="fables-forth-text-color font-14 mb-3">
                {{ tadbir.body_small }} </p>
              <a href="{{ tadbir.get_absolute_url }}" class="btn fables-main-text-color fables-second-hover-color font-14 p-0 underline">Batafsil</a>
          </div>
         {% endfor %}
     </div>
</div>
<!-- /End page content -->
{% endblock content %}