{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- Start Header -->
    <div class="fables-header fables-after-overlay bg-rules">
        <div class="container">
            <h2 class="fables-page-title fables-second-border-color wow fadeInLeft" data-wow-duration="1.5s">
                Konferensiyalar</h2>
        </div>
    </div>
    <!-- /End Header -->

    <!-- Start Breadcrumbs -->
    <div class="fables-light-background-color">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                    <li class="breadcrumb-item active" aria-current="page">Konferensiyalar</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- /End Breadcrumbs -->

    <!-- Start page content -->
    <div class="container">
        <div class="row my-4 my-lg-5">
            <div class="col-12 col-lg-8">
                <div class="row">
                    {% for konfirensiya in konfirensiyalar %}
                    <div class="col-12 col-sm-6 mb-4 wow fadeIn" data-wow-delay=".3s">
                        <div class="image-container translate-effect-right">
                            <a href="{{ konfirensiya.get_absolute_url }}"><img src="{{ konfirensiya.image.url }}"
                                                                     alt="alt image text"></a>
                        </div>
                        <h2 class="mt-3 mb-2 font-18 semi-font"><a href="{{ konfirensiya.get_absolute_url }}"
                                                                   class="fables-main-text-color fables-second-hover-color">
                            {{ konfirensiya.nomi }}</a></h2>
                        <div class="fables-forth-text-color font-14 mb-2">
                            <span class="fables-icondata fables-second-text-color mr-1"></span>
                            <span class="mr-3">{{konfirensiya.boshlanish_sanasi}}</span>
                            <span class=""></span>
                            <a href="{{ konfirensiya.get_absolute_url }}"
                               class="fables-forth-text-color fables-second-hover-color position-relative z-index"></a>
                        </div>
                        <p class="fables-forth-text-color font-14 mb-2">
                            {{ konfirensiya.body_small }}
                        </p>
                        <a href="{{ konfirensiya.get_absolute_url }}"
                           class="btn btn-link fables-main-text-color fables-second-hover-color fables-cat-blog-btn ">To'liq
                            o'qish</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="fables-blog-search">
                    <form>
                        <div class="row">
                            <div class="col-12 col-sm-9 col-md-8 mb-3 mb-md-0">
                                <div class="input-icon">
                                    <span class="fables-iconsearch-icon fables-input-icon font-14"></span>
                                    <input type="text" class="form-control rounded-0 py-2 width-100">
                                </div>
                            </div>
                            <div class="col-12 col-sm-3 col-md-4 pl-md-0">
                                <button type="submit"
                                        class="btn fables-second-background-color rounded-0 text-white font-15 semi-font py-2 btn-block">
                                    Qidiruv
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="mt-4">
                    <h2 class="position-relative font-23 semi-font fables-blog-category-head fables-main-text-color fables-second-before pl-3 mb-4">
                        Yaqinda joylangan o'quv seminarlari</h2>
                    {% for post in oxirgi_postlar %}
                    <div class="row mb-4">
                        <div class="col-4">
                            <a href="{{post.get_absolute_url}}"><img src="{{ post.image.url }}" alt="" class="img-fluid"></a>
                        </div>
                        <div class="col-8 pl-0">
                            <a href="{{post.get_absolute_url}}"
                               class="fables-main-text-color bold-font fables-second-hover-color blog-smaller-head">{{ post.nomi }}</a>
                            <p class="fables-forth-text-color fables-blog-date-cat font-14 mt-1">{{ post.boshlanish_sanasi }}</p>
                        </div>
                    </div>
                    {% endfor %}

                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- /End page content -->
{% endblock content %}