{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- Start Header -->
    <div class="fables-header fables-after-overlay">
        <div class="container">
            <h2 class="fables-page-title fables-second-border-color">{{ yangilik.name }}</h2>
        </div>
    </div>
    <!-- /End Header -->

    <!-- Start Breadcrumbs -->
    <div class="fables-light-gary-background">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                    <li class="breadcrumb-item"><a href="{% url 'konfirensiyalar' %}" class="fables-second-text-color">Konfirensiyalar</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ yangilik.nomi }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- /End Breadcrumbs -->
    <div class="container">
        <div class="my-4 my-lg-4">
            <div class="owl-carousel owl-theme default-carousel nav-0 single-blog">
                <div>
                    <a href="#">
                        <img src="{{yangilik.image.url}}" alt="" class="w-100">
                    </a>
                </div>
            </div>
            <h2 class="font-23 semi-font"><a href="#" class="fables-main-text-color fables-second-hover-color"></a></h2>
            <div class="fables-forth-text-color fables-blog-date">
                <div class="row">
                    <div class="col-12 col-md-9 col-lg-10 pt-2">
                        <span class="fables-icondata fables-second-text-color mr-1"></span>
                        <span class="mr-3">{{yangilik.date}}</span>

                    </div>
                </div>
            </div>
            <p class="fables-forth-text-color font-14 my-4">
                {{ yangilik.body }}
            </p>

        </div>
    </div>

    </div>
    <!-- Start page content -->
    <div class="container">
        <div class="row my-4 my-md-5">
            <div class="row">
                <div class="col-6 col-sm-4 col-lg-5 col-xl-4 text-left">
                    <a href="#"
                       class="fables-btn-rouned fables-second-hover-background-color white-color px-2 px-md-4 py-2 font-18">
                        <span class=""></span>
                        <span class="fables-btn-value"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-0 mb-md-5">
        <div class="col-12">
            <h2 class="fables-forth-text-color fables-light-background-color my-3 my-md-5 py-3 text-center font-20 semi-font">
                Boshqa Yangiliklar</h2>
        </div>
        {% for post in oxirgi_postlar %}
            <div class="col-12 col-sm-6 col-lg-3 fables-product-block">
                <div class="card rounded-0 mb-4">
                    <div class="row">
                        <div class="fables-product-img col-12">
                            <img class="card-img-top rounded-0" src="{{ post.image.url }}" alt="dress fashion">
                        </div>
                        <div class="card-body col-12">
                            <h5 class="card-title mx-3">
                                <a href="{{ post.get_absolute_url }}"
                                   class="fables-main-text-color font-16 semi-font fables-second-hover-color">{{ post.name }}</a>
                            </h5>
                            <p class="card-text fables-fifth-text-color font-15 mx-3">{{ post.body_small }}</p>
                            <p class="font-15 font-weight-bold fables-second-text-color my-2 mx-3">{{ post.date }}</p>
                            <p class="fables-product-info"><a href="{{ post.get_absolute_url }}"
                                                              class="btn fables-second-border-color fables-second-text-color fables-btn-rouned fables-hover-btn-color font-14 p-2 px-4">
                                <span class="fables-iconcart"></span>
                                <span class="fables-btn-value">batafsil</span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    </div>
    <!-- /End page content -->
{% endblock content %}