{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Start Header -->
    <div class="fables-header fables-after-overlay bg-rules">
        <div class="container">
            <h2 class="fables-page-title fables-second-border-color wow fadeInLeft" data-wow-duration="1.5s">
                {{ tadbir.nomi }}</h2>
        </div>
    </div>
    <!-- /End Header -->

    <!-- Start Breadcrumbs -->
    <div class="fables-light-background-color">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                    <li class="breadcrumb-item"><a href="#" class="fables-second-text-color">Axborot xizmatlari</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ tadbir.nomi}}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- /End Breadcrumbs -->

    <!-- Start page content -->
    <div class="container">
        <div class="my-4 my-lg-4">
            <div>
                <a href="#">
                    <img src="{{ tadbir.image.url }}" alt="" class="w-100">
                </a>
            </div>
            <h2 class="font-23 semi-font"><a href="#" class="fables-main-text-color fables-second-hover-color"></a></h2>
            <div class="fables-forth-text-color fables-blog-date">
                <div class="row">
                    <div class="col-12 col-md-9 col-lg-10 pt-2">
                        <span class="fables-icondata fables-second-text-color mr-1"></span>
                        <span class="mr-3">{{tadbir.boshlanish_sanasi}}</span>

                    </div>
                </div>

            </div>

            <p class="fables-forth-text-color font-14 my-4">
                {{ tadbir.body }}
            </p>
        </div>
        <div class="my-4 my-lg-5">
            <h2 class="fables-main-text-color text-center underline my-4 font-25 semi-font mb-5"></h2>
            <div class="owl-carousel owl-theme fables-main-dots carousel-items-4 mb-0 mb-lg-5">
                <div>


                </div>
            </div>
        </div>

    </div>
    <!-- /End page content -->
{% endblock content %}