{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Start Header -->
    <div class="fables-header fables-after-overlay bg-rules">
        <div class="container">
            <h2 class="fables-page-title fables-second-border-color wow fadeInLeft" data-wow-duration="1.5s">{{ tanlov.nomi }}</h2>
        </div>
    </div>
    <!-- /End Header -->

    <!-- Start Breadcrumbs -->
    <div class="fables-light-background-color">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                            <li class="breadcrumb-item active" aria-current="page">Tanlovlar</li>
                            <li class="breadcrumb-item active" aria-current="page">{{ tanlov.nomi}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /End Breadcrumbs -->

    <!-- Start page content -->
    <div class="container">
        <div class="my-4 my-lg-5">
            <div class="owl-carousel owl-theme default-carousel absolute-dots inside-text-carousel nav-0 mr-4 mb-3">
                <div class="image-container rotateOut-effect">
                    <a href="#">
                        <img src="{{ tanlov.image.url }}" alt="" class="w-100">
                    </a>
                </div>
            </div>
            <h1>Faxriyor to'g'irlang buni </h1>
            <h2 class="fables-second-text-color font-20 semi-font my-3 mt-md-0">{{ tanlov.nomi }}</h2>
            <p class="fables-forth-text-color font-14">
                {{ tanlov.body}}
            </p>
        </div>
    </div>
    </div>
    <div class="row mb-lg-4">
        {% for post in oxirgi_postlar %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 wow fadeIn" data-wow-delay=".4s">
                <div class="img-contain image-container rotateOut-effect">
                    <img src="{{ post.image.url }}" alt="" class="w-100">

                    <div class="fables-blog-details-overlay fables-second-color-transparent p-3 d-flex flex-column justify-content-end align-items-center">
                        <h2 class="mt-6 border-bottom font-18 semi-font pb-2"><a href="#"
                                                                                 class="white-color white-color-hover">{{ post.nomi}}</a></h2>
                        <p class="font-14 my-2 text-white">
                            {{ post.body_small }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- /End page content -->

{% endblock content %}