{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Start Breadcrumbs -->
    <div class="fables-light-gary-background">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                    <li class="breadcrumb-item"><a href="{% url 'yangiliklar' %}" class="fables-second-text-color">Yangiliklar</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Yangiliklar dayjesti</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- /End Breadcrumbs -->

    <!-- Start page content -->
    <div class="container">
        <div class="row my-4 my-md-5">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="fables-store-search mb-4">
                    <form>
                        <div class="input-icon">
                            <span class="fables-iconsearch-icon fables-input-icon"></span>
                            <input type="text"
                                   class="form-control rounded-0 form-control rounded-0 font-14 fables-store-input pl-5 py-2"
                                   placeholder="Qidiruv">
                        </div>

                    </form>
                </div>

                <h2 class="font-16 semi-font fables-forth-text-color fables-light-gary-background  p-3 mb-4">Yangiliklar kategoriyalari</h2>
               <ul class="nav fables-forth-text-color fables-forth-before fables-store-left-list">
                   {% for category in categories %}
                   <li><a href="{% url 'yangiliklik_filter' category.slug%}">{{ category.name }}</a></li>
                   {% endfor %}
               </ul>
                <h2 class="font-16 semi-font fables-forth-text-color fables-light-gary-background  p-3 my-4">Eng so'ngi
                    yangiliklar</h2>
                {% for post in oxirgi_postlar %}
                    <div class="row mb-3">
                        <div class="col-4 pr-0">
                            <a href="{{post.get_absolute_url}}"><img src="{{ post.image.url }}" alt="" class="w-100"></a>
                        </div>
                        <div class="col-8">
                            <a href="{{ post.get_absolute_url }}"
                               class="fables-main-text-color font-14 semi-font fables-second-hover-color store-card-text">{{ post.name }}</a>
                            <p class="font-weight-bold fables-second-text-color ">{{ post.date }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <form>
                            <div class="form-group mb-0">
                                <select class="form-control rounded-0">
                                    <option value="" selected>Mirzaobod</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-4 col-md-6 col-lg-2 offset-lg-6 text-center pl-0 d-none d-lg-block">
                        <span class="fables-iconlist fa-fw fables-view-btn fables-list-btn fables-third-border-color fables-third-text-color"></span>
                        <span class="fables-icongrid active fa-fw fables-view-btn fables-grid-btn fables-third-border-color fables-third-text-color"></span>
                    </div>
                </div>
                <div class="row">
                    {% for yangilik in yangiliklar %}
                        <div class="col-12 col-sm-6 col-lg-4 fables-product-block">
                            <div class="card rounded-0 mb-4">
                                <div class="row">
                                    <div class="fables-product-img col-12">
                                        <img class="card-img-top rounded-0" src="{{ yangilik.image.url }}"
                                             alt="dress fashion">

                                    </div>
                                    <div class="card-body col-12">
                                        <h5 class="card-title mx-xl-3">
                                            <a href="{{ yangilik.get_absolute_url }}"
                                               class="fables-main-text-color fables-store-product-title fables-second-hover-color">
                                                {{ yangilik.name }}</a>
                                        </h5>
                                        <p class="store-card-text fables-fifth-text-color font-15 mx-xl-3">
                                            {{ yangilik.body_small }}</p>
                                        <p class="font-15 font-weight-bold fables-second-text-color my-2 mx-xl-3">
                                            {{ yangilik.date }}</p>
                                        <p class="fables-product-info"><a href="{{ yangilik.get_absolute_url }}"
                                                                          class="btn fables-second-border-color fables-second-text-color fables-btn-rouned fables-hover-btn-color font-14 p-2 px-2 px-xl-4">
                                            <span class="fables-iconcart"></span>
                                            <span class="fables-btn-value">To'liq oqish</span></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <!-- /End page content -->

{% endblock content %}