{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container py-3">
    <div class="fables-Testimonials my-3">             
       <h3 class="fables-second-text-color mb-5 font-weight-bold"> Bayonotlar</h3> 
       <!-- Har bitta bayonot uchun model yozish kerak-->
        <div class="row">
            {% for bayonot in bayonotlar_list %}
            <div class="col-6">
                 <div class="fables-testimonial-block border fables-third-text-color py-4 px-6 mb-4 rounded position-relative">  
                      <div class="row">
                          <div class="col-12 col-sm-3 text-center image-container shine-effect">
                               <img src="{{ bayonot.image.url }}" alt="Fables Template" class="fables-testimonial-block-img rounded-circle">
                          </div>
                          <div class="col-12 col-sm-8">
                              <div class="fables-testimonial-block-info">
                                  <h3 class="fables-forth-text-color mt-4 mb-2 font-15 semi-font">{{ bayonot}}</h3>
                                  <h3 class="fables-fifth-text-color font-italic font-14 mt-2">{{ bayonot.lavozimi }}</h3>
                              </div>
                          </div>
                      </div>
                      <div class="fables-forth-text-color font-italic font-14 semi-font mt-3 d-none d-md-block">
                          {{ bayonot.body}}
                        </div>
                 </div> 
            </div>
            {% endfor %}
        </div> 
 
    </div>  
</div>           

{% endblock content %}