{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Start Header -->
    <div class="fables-header fables-after-overlay">
        <div class="container">
            <h2 class="fables-page-title fables-second-border-color">Rasmlar Galareyasi</h2>
        </div>
    </div>
    <!-- /End Header -->

    <!-- Start Breadcrumbs -->
    <div class="fables-light-background-color">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                    <li class="breadcrumb-item active" aria-current="page">Rasmlar Galareyasi</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- /End Breadcrumbs -->

    <!-- Start page content -->
    <div class="container">
        <div class="row mt-3 mt-lg-5 mb-2">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="text-center">
                    <h2 class="fables-main-text-color font-35 bold-font my-3">Mirzaobod maktabgacha va maktab ta'lim
                        bo'limi </h2>
                    <p class="fables-forth-text-color my-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos reiciendis cum aliquid quam,
                        consequatur. quisquam consectetur culpa commodi maxime in harum sunt nam.

                    </p>
                </div>
            </div>
        </div>

        <div class="gallery-filter">
            <div class="portfolioFilter mb-lg-5 clearfix">
                <a href="{% url 'rasmlar' %}" data-filter="*" class="current">Barcha rasmlar</a>
                {% for category in categories %}
                    <a href="{% url 'rasmlar_filter' category.slug %}" data-filter=".webDesign"
                       class="fables-forth-text-color">{{ category.name }}</a>
                {% endfor %}
            </div>
            <div class="portfolioContainer mt-4 my-lg-5 row">
                {% for rasm in rasmlar %}
                    <div class="drawings places col-sm-6 col-md-3 mb-4">
                        <div class="filter-img-block position-relative image-container translate-effect-right">
                            <img src="{{ rasm.image.url }}" alt="image">
                            <div class="img-filter-overlay fables-main-color-transparent row m-0">
                                <a data-fancybox="gallery" href="{{ rasm.image.url}}"
                                   class="gallery-filter-icon white-color fables-second-hover-color"><span
                                        class="fables-iconsearch-icon"></span></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}