{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!--Video Section-->
    <section class="content-section video-section fables-after-overlay">
        <div class="pattern-overlay">
            <a id="bgndVideo" class="player"
               data-property="{videoURL:'https://www.youtube.com/watch?v=8wKjWX7hkp4',containment:'.video-section', quality:'large',mute: 'true' ,autoPlay:true, opacity:1}">bg</a>
            <div class="container position-relative z-index">
                <div class="fables-video-caption text-center wow zoomIn" data-wow-delay="1s" data-wow-duration="2s">
                    <h1 class="white-color font-weight-bold mt-6">Sirdaryo viloyati , Mirzaobod tumani</h1>
                    <p class="fables-fifth-text-color mt-3 mb-4 font-18">
                        Maktabgacha va maktab ta'lim bo'limi
                    </p>
                    <a data-fancybox href="https://www.youtube.com/watch?v=meBbDqAXago">
                        <span class="fables-iconplay fables-second-text-color fa-4x wow bounce"></span>
                    </a>

                </div>
            </div>
        </div>
    </section>
    <!--Video Section Ends Here-->


    <!-- Start page content -->
    <div class="container">
        <div class="row my-4 my-md-5">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
                <h2 class="font-35 font-weight-bold fables-second-text-color mb-4">Ta'lim bo'limi haqida </h2>
                <p class="fables-forth-text-color">
                    O'zbekiston Respublikasi Sirdaryo viloyati Mirzaobod tumani maktabgacha va maktab ta'lim bo'limi
                </p>
            </div>


            <div class="col-12 col-sm-6 col-lg-4 pt-3 pt-md-5 wow zoomIn" data-wow-delay="1.6s"
                 data-wow-duration="1.5s">
                <div class="row text-center text-md-left">
                    <div class="col-12 col-md-3">
                        <span class="fables-iconhead-set-light fables-second-text-color fa-3x"></span>
                    </div>
                    <div class="col-12 col-md-9 pl-md-0">
                        <h2 class="fables-main-text-color font-20 my-2 mt-md-0 semi-font">Yangilanishlar va Yordam</h2>
                        <div class="font-15 fables-forth-text-color">
                            Bo‘lim barcha ta'lim muassasalari uchun muntazam yangilanishlar va texnik yordam ko‘rsatadi,
                            zamonaviy talab va standartlarga muvofiq ta'limni rivojlantirishni maqsad qiladi.
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 pt-3 pt-md-5 wow zoomIn" data-wow-delay="2s" data-wow-duration="1.5s">
                <div class="row text-center text-md-left">
                    <div class="col-12 col-md-3">
                        <span class="fables-iconscreen fables-second-text-color fa-3x"></span>
                    </div>
                    <div class="col-12 col-md-9 pl-md-0">
                        <h2 class="fables-main-text-color font-20 my-2 mt-md-0 semi-font">Moslashtirish Imkoniyati</h2>
                        <div class="font-15 fables-forth-text-color">
                            Har bir maktab va bog‘cha uchun o‘ziga xos ta'lim dasturlarini ishlab chiqishda
                            ko‘maklashadi. O‘qituvchilar va ota-onalar ehtiyojlariga mos yondashuvni ta'minlaydi.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 pt-3 pt-md-5 wow zoomIn" data-wow-delay="2.4s"
                 data-wow-duration="1.5s">
                <div class="row text-center text-md-left">
                    <div class="col-12 col-md-3">
                        <span class="fables-iconfile fables-second-text-color fa-3x"></span>
                    </div>
                    <div class="col-12 col-md-9 pl-md-0">
                        <h2 class="fables-main-text-color font-20 my-2 mt-md-0 semi-font">Qulaylik Yaratish</h2>
                        <div class="font-15 fables-forth-text-color">
                            : O‘quv jarayonlarini soddalashtirish uchun ilg‘or texnologiyalarni, shu jumladan, oson
                            foydalaniladigan interfeys
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 mt-lg-5">
            <div class="col-12 col-lg-6 mt-3 mt-lg-0 overflow-hidden">
                <p class="fables-main-text-color font-25 mb-2 wow fadeInLeft">Bizning</p>
                <h2 class="fables-second-text-color font-35 font-weight-bold wow fadeInLeft">Vazifalarimiz <span
                        class="fables-main-text-color">qanday</span></h2>
                <p class="fables-forth-text-color mt-4 mb-4">
                    Ta'lim sifatini yaxshilash — bu nafaqat bolalar kelajagini, balki butun jamiyatning muvaffaqiyatli
                    taraqqiyotini ta'minlash yo‘lidagi eng yaxshi sarmoyadir.
                </p>
                <div class="position-relative mb-3 wow bounceInDown" data-wow-delay=".3s">
                    <p class="fables-fifth-text-color fables-dots-text">
                        <span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
                        Bizning tajribali jamoamiz sizga tez va sifatli xizmat ko‘rsatadi.
                    </p>
                </div>
                <div class="position-relative mb-3 wow bounceInDown" data-wow-delay=".6s">
                    <p class="fables-fifth-text-color fables-dots-text">
                        <span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
                        Telefon yoki elektron pochta orqali 24/7 xizmat.
                    </p>
                </div>
                <div class="position-relative mb-3 wow bounceInDown" data-wow-delay=".9s">
                    <p class="fables-fifth-text-color fables-dots-text">
                        <span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
                        Har bir maktab va bog‘cha uchun individual rejalarni taqdim etamiz.
                    </p>
                </div>
                <div class="position-relative mb-3 wow bounceInDown" data-wow-delay="1.2s">
                    <p class="fables-fifth-text-color fables-dots-text">
                        <span class="fables-dots-circle fables-second-before fables-second-border-color"></span>
                        Lorem ipsum dolor sit amet adipiscing elit.tur adipiscing elit.
                    </p>
                </div>


            </div>
            <div class="col-12 col-lg-6">
                <div class="together-block">
                    <div class="fables-main-color-transparent p-4 p-lg-5 position-relative">
                        <img src="{% static 'assets/custom/images/man-image.png' %}" alt=""
                             class="img-fluid together-abs-img wow fadeIn">
                        <p class="white-color font-17 mb-2">Iqtiboslardan</p>
                        <h2 class="white-color font-30 semi-font"></h2>
                        <p class="white-color font-14 together-details my-3">
                            Ta'lim – bu dunyoni o'zgartirish uchun qo'llash mumkin bo'lgan eng qudratli quroldir.
                        </p>
                        <a href="#"
                           class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded py-2 px-5 my-0 my-md-4">Ko'proq</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fables-testimonial fables-after-overlay py-4 py-md-5 my-4 my-lg-5 half-width-testimonial bg-rules">
        <div class="container z-index position-relative">
            <div class="row">
                <div class="col-12 col-md-6 wow fadeIn" data-wow-duration="2.5s" data-wow-delay=".4s">
                    <p class="white-color font-25 mb-2">Barkamol avlod</p>
                    <h2 class="fables-second-text-color font-35 font-weight-bold">Bolalar markazlari</h2>
                    <p class="fables-third-text-color mt-4 mb-4">
                        Barkamol avlod markazlari bolalar uchun ijodkorlik va bilim olish imkoniyatlarini kengaytirishga
                        qaratilgan. Markazlar zamonaviy sharoitlar va yuqori malakali mutaxassislar yordamida
                        bolalarning har tomonlama rivojlanishiga hissa qo‘shadi.
                    </p>
                    <div class="owl-carousel owl-theme dots-0 nav-default" id="fables-testimonial-carousel">
                        {% for togarak in togaraklar %}
                            <div class="text-center">
                                <div>
                                    <div class="image-container shine-effect d-inline-block rounded-circle">
                                        <img src="{{ togarak.image.url }}" alt="Fables Template"
                                             class="fables-testimonial-carousel-img my-0 mx-auto rounded-circle">
                                    </div>
                                    <h3 class="font-14 semi-font  white-color mt-3">{{ togarak.nomi }}</h3>
                                    <h3 class="font-13 font-italic white-color mt-2 mb-4"></h3>
                                </div>
                                <div class="fables-testimonial-carousel-item fables-rounded p-3">
                                    <div class="fables-testimonial-detail font-15 font-italic white-color position-relative">
                                        {{ togarak.body_small }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 col-md-6 wow fadeIn mt-4 mt-md-5 mt-lg-0" data-wow-duration="2.5s"
                     data-wow-delay=".4s">
                    <div class="position-relative image-container zoomIn-effect">
                        <img src="assets/custom/images/index-video.jpg" alt="" class="img-fluid">
                        <div class="demo-gallery-poster fables-main-gradient">
                            <a data-fancybox href="https://www.youtube.com/watch?v=meBbDqAXago">
                                <img src="assets/custom/images/play-button.png" alt="play button" class="img-fluid">
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <h2 class="fables-main-text-color font-35 font-weight-bold text-center my-4 my-lg-5"> Ochiq byudjet</h2>
        <p class="fables-main-text-color text-center mb-4 mb-md-5 font-19">Maktab va maktabgacha ta'lim bo'limi byudjet
            ishlatilishi</p>
        <div class="row overflow-hidden mb-lg-5">
            {% for ochiq_bud in ochiq_budjet %}

                <div class="col-12 col-sm-6 col-lg-3 text-center mb-4 mb-lg-0 wow bounceInDown" data-wow-duration="2s"
                     data-wow-delay=".4s">
                    <div class="table-block table-border-light py-5 fables-second-hover-border">
                        <h2 class="fables-main-text-color font-35 font-weight-bold position-relative fables-main-text-color green">
                            300 <span class="table-badge fables-fifth-text-color position-absolute">$</span></h2>
                        <p class="mb-4 fables-fifth-text-color font-13">{{ ochiq_bud.publish_time.month }}-oy {{ ochiq_bud.year }}
                            yil</p>
                        <h2 class="fables-forth-text-color text-center font-weight-bold table-title fables-third-after position-relative font-17">
                            Qilingan ishlar</h2>
                        <p class="fables-forth-text-color my-4 px-4 line-height-large font-15">
                            Wordpress ThemeFree
                            Theme InstallationFree
                            24/7 SupportFree
                        </p>

                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="fables-testimonial fables-after-overlay fables-about-caption py-5 bg-rules"
             style="background-image: url({% static 'assets/custom/images/index2-overlay.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="position-relative z-index col-12 col-md-8 offset-md-2 text-center wow zoomIn"
                         data-wow-duration="2s">
                        <h3 class=" white-color mb-3 font-25 font-weight-bold">Fuqorolar murojaati</h3>
                        <p class="font-weight-light fables-third-text-color">
                            Jismoniy va yuridik shaxslarlarning murojaatlari bilan ishlash
                        </p>
                        <a href="contact.html"
                           class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded  mt-4 py-2 px-5">Murojaat
                            yo'llash</a>
                    </div>
                </div>

            </div>
        </div>


        <div class="container">
            <div class="fables-team">
                <h2 class="font-35 font-weight-bold text-center fables-main-text-color my-3 my-lg-5">
                    Maktabgacha va maktab ta'lim vazirligi</h2>
                <div class="row overflow-hidden">
                    {% for rahbar in rahbariyat %}
                        <div class="col-6 col-md-3 wow bounceInDown mb-3" data-wow-duration="2s" data-wow-delay=".4s">
                            <div class="card fables-team-block fables-second-hover-text-color">
                                <div class="image-container shine-effect">
                                    <a href="#"><img class="w-100" src="{{ rahbar.image.url }}"
                                                     alt="Fables Template"></a>
                                </div>
                                <div class="card-body">
                                    <h5><a href="#"
                                           class="font-19 semi-font fables-main-text-color team-name">{{ rahbar.name }}
                                        {{ rahbar.last_name }}
                                        {{ rahbar.fathers_name }} </a></h5>
                                    <p class="font-13 fables-fifth-text-color italic my-2">{{ rahbar.lavozimi }}</p>
                                    <ul class="nav fables-team-social-links">
                                        <h10>telegram va facebook to'g'irlash kerak</h10>
                                        <li><a href="{{ rahbar.telegram}}" target="_blank"><span
                                                class="fables-icontelegram-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                        </li>
                                        <li><a href="{{ rahbar.facebook}}" target="_blank"><span
                                                class="fables-icontelegram-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                        </li>
                                        <li><a href="{{ rahbar.twitter }}" target="_blank"><span
                                                class="fables-icontwitter-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                        </li>
                                        <li><a href="#" target="{{ rahbar.instagram }}"><span
                                                class="fables-iconinstagram-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>


        <!-- Bu bolimda har bitta ish uchun ham single page bolishi kerak , backendda url ulab qlinadi-->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-35 font-weight-bold fables-main-text-color my-4 my-lg-5 text-center">Oxirgi
                        ishlar</h2>
                </div>
                {% for oxirgi_ish in oxirgi_ishlar %}

                    <div class="col-12 col-md-4 mb-4 mb-md-5 wow fadeIn" data-wow-delay=".6s">
                        <div class="image-container zoomIn-effect">
                            <a href="#"><img src="{{ oxirgi_ish.image.url }}" alt=""></a>
                        </div>

                        <div class="above-date py-2 py-lg-3 fables-fifth-text-color float-left w-100 d-md-none d-lg-block">
                            <div class="float-left font-13">
                                <span class="fables-iconcalender"></span> December 27, 2024
                            </div>
                            <div class="float-right font-13">
                                <span class="fables-iconnews"></span> Oxirgi ishlar
                            </div>
                        </div>
                        <h2 class="font-weight-bold font-20 my-2"><a href="#"
                                                                     class="fables-main-text-color fables-second-hover-color">
                            {{ oxirgi_ish.nomi }}</a></h2>

                        <p class="fables-forth-text-color font-14">
                            {{ oxirgi_ish.body_small }}
                        </p>
                        <a href="" class="btn fables-main-text-color fables-second-hover-color p-0 mt-2">
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <!-- /End page content -->
{% endblock content %}