{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="fables-page-content">

        <div class="container overflow-hidden">
            <h2 class="text-center fables-main-text-color font-35 my-4 my-lg-5 smaller-head-text">
                Korrupsiyaga qarshi kurashish – jamiyat rivojlanishining eng muhim shartlaridan biridir. Mirzaobod
                tumani ta'lim bo‘limi korrupsiya va nohaqliklarga qarshi qat'iy choralar ko‘rishni o‘zining asosiy
                maqsadlaridan biri sifatida belgilagan.
            </h2>
            <div class="row">
                <div class="col-12 col-sm-4 mb-4 wow fadeInUpBig" data-wow-duration="2s">
                    <div class="image-container translate-effect-right">
                        <a href="https://lex.uz/mact/-3088008"><img src="{% static 'assets/custom/images/index1.jpg' %}"
                                                                    alt=""
                                                                    class="img-fluid w-100"></a>
                    </div>
                    <h2 class="font-22 mt-3 mb-2 d-block text-center text-md-left">
                        <a href="https://lex.uz/mact/-3088008" class="fables-second-text-color fables-main-hover-color">Korrupsiyaga
                            qarshi kurashish to‘g‘risida</a>
                    </h2>
                    <p class="fables-forth-text-color light-font d-none d-md-block">
                        Qonunchilik palatasi tomonidan 2016-yil 24-noyabrda qabul qilingan
                        Senat tomonidan 2016-yil 13-dekabrda ma’qullangan
                    </p>
                </div>
                <div class="col-12 col-sm-4 mb-4 wow fadeInUpBig" data-wow-duration="2s">
                    <div class="image-container translate-effect-right">
                        <a href="https://uzmarkaz.uz/page/protivodejstvie-korruptsii"><img
                                src="{% static 'assets/custom/images/index2.jpg' %}" alt="" class="img-fluid w-100"></a>
                    </div>
                    <h2 class="font-22 mt-3 mb-2 d-block text-center text-md-left">
                        <a href="https://uzmarkaz.uz/uploads/2022/09/korrupsiya-savol-javoblar.pdf"
                           class="fables-second-text-color fables-main-hover-color">Yuristlar malakasini
                            oshirish markazi</a>
                    </h2>
                    <p class="fables-forth-text-color light-font d-none d-md-block">
                        Adliya organlari va muasasalarida korrupsiyaga qarshi ichki nazorat tizimi: savol va javoblar
                    </p>
                </div>
                <div class="col-12 col-sm-4 mb-4 wow fadeInUpBig" data-wow-duration="2s">
                    <div class="image-container translate-effect-right">
                        <a href="https://anticorruption.uz/oz/korrupsiyaning-oldini-olish-va-unga-qarshi-kurashish-sohasida-davlat-siyosatini-amalga-oshirish"><img
                                src="{% static 'assets/custom/images/index3.jpg' %}" alt="" class="img-fluid w-100"></a>
                    </div>
                    <h2 class="font-22 mt-3 mb-2 d-block text-center text-md-left">
                        <a href="https://anticorruption.uz/oz/korrupsiyaning-oldini-olish-va-unga-qarshi-kurashish-sohasida-davlat-siyosatini-amalga-oshirish"
                           class="fables-second-text-color fables-main-hover-color">O'zbekiston Respublika korrupsiyaga
                            qarshi kurashish agentligi</a>
                    </h2>
                    <p class="fables-forth-text-color light-font d-none d-md-block">
                        Korrupsiyaning oldini olish va unga qarshi kurashish sohasida davlat siyosatini amalga oshirish
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid overflow-hidden">
            <div class="row mt-0 mt-lg-5">
                <div class="col-12 col-md-6 p-0">
                    <div style="background-image: url({% static 'assets/custom/images/overlay1.jpg' %}); ">
                        <div class="fables-color-transparent p-6">
                            <h2 class="white-color font-weight-bold mb-4 font-35 wow fadeInLeft">Korrupsiyaga qarshi
                                kurash <br> Targ'ibot materiallari</h2>
                            <p class="fables-third-text-color wow fadeInLeft">
                                Maktabgacha va maktab taʼlimi vaziri Hilola Umarovaning korrupsiyaga qarshi kurashish
                                boʻyicha murojaati </p>
                            <a href="https://uzedu.uz/uz/lists/12/253"
                               class="btn border border-white white-color rounded-0 my-4 py-2 px-5  wow fadeInLeft bg-white-hover fables-second-hover-color">Ko'proq
                                o'qish</a>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-6 px-6">
                    <div class="row">
                        <div class="col-12 col-sm-6 my-4 text-center text-md-left wow fadeInRight">
                            <span class="fables-iconbussiness fables-second-text-color fa-3x"></span>
                            <h2 class="fables-main-text-color font-18 my-2">Ishonch telefonlari</h2>
                            <p class="fables-forth-text-color font-weight-light">
                                Fuqarolar tomonidan korrupsiya holatlari haqida xabar berish uchun maxsus ishonch
                                telefonlari tashkil etilgan.
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 my-4 text-center text-md-left wow fadeInRight">
                            <span class="fables-iconbussiness2 fables-second-text-color fa-3x"></span>
                            <h2 class="fables-main-text-color font-18 my-2">Ta'limda shaffoflik</h2>
                            <p class="fables-forth-text-color font-weight-light">
                                Maktab va maktabgacha ta'lim tizimida barcha jarayonlarni shaffoflashtirishga qaratilgan
                                innovatsion dasturlar joriy etilmoqda.
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 my-4 text-center text-md-left wow fadeInRight">
                            <span class="fables-iconbussiness3 fables-second-text-color fa-3x"></span>
                            <h2 class="fables-main-text-color font-18 my-2">Jamoatchilik nazorati</h2>
                            <p class="fables-forth-text-color font-weight-light">
                                Korrupsiyaga qarshi kurashda jamoatchilik nazoratining ahamiyati katta. Fuqarolar o‘z
                                taklif va fikrlarini bildirishda faol ishtirok etmoqda.
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 my-4 text-center text-md-left wow fadeInRight">
                            <span class="fables-iconbussiness4 fables-second-text-color fa-3x"></span>
                            <h2 class="fables-main-text-color font-18 my-2">Shiorlar</h2>
                            <p class="fables-forth-text-color font-weight-light">
                                Korrupsiyasiz kelajak sari birgalikda harakat qilishimiz zarur.
                                Kelajak avlod uchun adolat va halollik qadriyatlarini targ‘ib etish har birimizning
                                burchimizdir.


                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fables-testimonial fables-after-overlay bg-rules py-4 py-lg-5"
             style="background-image: url({% static 'assets/custom/images/korrupsiya.png' %});">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8 offset-lg-2 text-center wow zoomIn position-relative z-index">
                        <h3 class="fables-main-hover-color mb-3 font-30 font-weight-bold">Korrupsiyaga qarshi kurashish
                            ilmiy markazlari</h3>
                        <a href="https://uzmarkaz.uz/uploads/2025/01/ilmiy-kengash.pdf"
                           class="btn fables-second-border-color fables-second-text-color rounded-0 my-4 py-2 px-5 position-relative z-index fables-second-hover-background-color">Ilmiy
                            kengash tarkibi</a>
                        <a href="https://uzmarkaz.uz/uploads/2025/01/ilmiy-seminar.pdf"
                           class="btn fables-second-border-color fables-second-text-color rounded-0 my-4 py-2 px-5 position-relative z-index fables-second-hover-background-color">Ilmiy
                            seminar tarkibi</a>
                        <a href="https://uzmarkaz.uz/uploads/2025/01/elon-matni.pdf"
                           class="btn fables-second-border-color fables-second-text-color rounded-0 my-4 py-2 px-5 position-relative z-index fables-second-hover-background-color">E'lonlar</a>
                        <a href="https://uzmarkaz.uz/uploads/2020/11/uldaseva-gavherzanavtoreferat.pdf"
                           class="btn fables-second-border-color fables-second-text-color rounded-0 my-4 py-2 px-5 position-relative z-index fables-second-hover-background-color">Doktorlik
                            desetatsiya avtoreferatlari</a>

                    </div>
                </div>

            </div>
        </div>

        <div class="container my-4 my-lg-5">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="text-center">
                        <h2 class="fables-main-text-color font-35 font-weight-bold mt-0 mb-4 ">Korrupsiyaga qarshi
                            kurashish bo'yicha chora tadbirlar</h2>
                        <p class="fables-forth-text-color mb-5">
                            Mirzaobod tumani maktab va maktabgacha ta'lim muasasalarida ham korrupsiyaga qarshi
                            kurashish bo'yicha tadbirlar o'tkazilmoqda
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% for korrupsiy in Korrupsiyalar %}
                    <div class="col-12 col-md-4 mb-4 mb-lg-5 wow fadeIn" data-wow-delay=".9s">
                        <div class="position-relative">
                            <div class="image-container translate-effect-right">
                                <a href="#"><img src="{{ korrupsiy.image.url }}" alt=""
                                                 class="img-fluid w-100"></a>

                                <span class="above-date position-absolute text-center fables-second-background-color white-color px-3 py-2">
                                    <span class="bold-font day">{{ korrupsiy.publish_time.day }}</span>
                                    <span class="month d-block">{{ korrupsiy.publish_time|date:"F" }}</span>
                                    <span class="month d-block">{{ korrupsiy.publish_time.year }}</span>
                                </span>
                            </div>
                            <h2 class="font-18 my-3"><a href="#"
                                                        class="fables-main-text-color fables-second-hover-color">
                                {{ korrupsiy.nomi }}
                            </a></h2>

                            <p class="fables-forth-text-color font-14 mb-2">
                                {{ korrupsiy.body_small}}
                            </p>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="fables-testimonial fables-after-overlay bg-rules py-4 py-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <h3 class="position-relative z-index white-color mb-3 font-25 font-weight-bold">Xodimlar
                            xatti-harakatiga oid korrupsiyani oldini olishga doir murojaatlar</h3>
                        <p class="position-relative z-index font-weight-light fables-third-text-color">Quyidagi tugmalar
                            orqali bog'lanishingiz mumkin </p>

                    </div>
                    <div class="col-12 col-md-4 offset-xl-2 col-xl-2 text-center">
                        <a href="{% url 'boglanish' %}"
                           class="btn fables-second-background-color fables-btn-rounded white-color mt-3 position-relative z-index font-19 px-5 white-color-hover">Bog'lanish</a>
                        <a href="https://t.me/mmtv_anticorbot"
                           class="btn fables-main-background-color fables-btn-rounded white-color mt-3 position-absolute z-index font-19 px-5 white-color-hover">
                            <i class="fa-brands fa-telegram">Telegram orqali</i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}