{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container py-3 py-lg-5">
        <div class="fables-team my-3">
            <h3 class="fables-main-hover-color mb-5 font-weight-bold">Mirzabob tumani maktabgacha va maktab ta'lim
                muassasalari rahbarlari</h3>
            <div class="row">
                {% for rahbar in rahbariyat_list %}
                    <div class="col-6 col-md-3 mb-4 mb-lg-5">
                        <div class="card fables-team-block fables-team-data-hover fables-second-border-color mb-4 mb-sm-0">
                            <img class="w-100" src="{{rahbar.image.url}}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5><a href="#" class="fables-team-name fables-second-hover-color team-name">{{ rahbar.name }}
                                    {{ rahbar.last_name }}</a>
                                </h5>
                                <p class="fables-team-pos mt-2 mb-3 italic">{{ rahbar.lavozimi }}</p>
                                <ul class="nav fables-team-social-links">
                                    <li><a href="{{rahbar.telegram}}" target="_blank"><span
                                            class="fables-iconlinkedin-icon fables-second-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                    </li>
                                    <li><a href="{{rahbar.twitter}}" target="_blank"><span
                                            class="fables-icontwitter-icon fables-second-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                    </li>
                                    <li><a href="{{rahbar.instagram}}" target="_blank"><span
                                            class="fables-iconinstagram-icon fables-second-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock content %}